@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic');

body{
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    font-family: 'Noto Sans', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
}
.logo{
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 20px;
}
.basket{
    height: 100%;
    width: 230px;
    background-color: #FF7D1E;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
}
.basket img{
    margin-left: 10px;
}
.basket-cart{
    display: flex;
    flex-direction: column;
}
#sumAndCount{
    font-size: 0.85em;
}
main{
    display: flex;
    margin-top: 10px;
    min-height: calc(100vh - 130px);
}
nav{
    margin: 0 10px 10px 10px;
}
nav > div{
    min-width: 230px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
nav > div > a{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}
nav > div:hover{
    box-shadow: 0 0 0 2px orange;
}

.content{
    width: 80%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.content > a{
    text-decoration: none;
}
.category_container{
    display: flex;
    height: 384px;
    width: 100%;
    margin-bottom: 10px;
}
.category_description{
    width: 40%;
    height: 100%;
    background-color: #fff;
}
.category_description_div{
    text-decoration: none;
    color: black;
    font-size: 2em;
    margin-left: 10px;
    margin-top: 2px;
}

.category_img{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_img > img{
    height: 80%;
}


.items-header{
    width: 100%;
    height: 50px;
    color: white;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    grid-gap: 80px 35px;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
}
.items-container > a{
    display: block;
    text-decoration: none;
    color: black;
}
.item{
    border: 1px solid rgba(150, 150, 150, 0.09);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item > img{
    height: 300px;
}
.price-buy{
    display: flex;
    justify-content: space-between;
}
.item-buy{
    height: 100%;
    background-color: #FF7D1E;
    position: relative;
    right: 0;
    color: white;
}
.item-content{
    width: 100%;
    padding: 10px;
    background-color: white;
}
.item-img-mod{
    width: 100%;
    display: flex;

}

.item-img-mod img{
    height: 400px;
}

.item-name-desk{
    display: flex;
    flex-direction: column;
}
.item-desk{

}
.cart-header{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.hed-cart{
    font-size: 1.3em;
    font-weight: bold;
}
.clr-cart{
    color: darkblue;
    cursor: pointer;
}

.cart-container{
    display: flex;
    flex-direction: column;
}

.cart-items-container{
    display: flex;
    justify-content: space-between;
}

footer{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #FF7D1E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}










/* Слайдер старт*/
.container_slider {
    position: relative;
    width: 100%;
    padding-top: 91px;
    padding-bottom: 29%;
    user-select: none;
    background-color: #1c1c1c;
    margin-bottom: 10px;
}

.container_slider input {
    display: none;
}

.container_slider .slide_img {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.container_slider .slide_img img {
    width: inherit;
    height: 421px;
}

.container_slider .slide_img .prev, .container_slider .slide_img .next {
    width: 50px;
    height: calc(100% - 4px);
    position: absolute;
    top: 0;
    background-color: rgba(45, 23, 0, 0.2);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.container_slider .slide_img .next {
    right: 0;
}

.container_slider .slide_img .prev {
    left: 0;
}

.container_slider .slide_img .prev:hover, .container_slider .slide_img .next:hover {
    transition: .3s;
    background-color: rgba(45, 23, 0, 0.7);
    height: calc(100% - 4px);
}

.container_slider .slide_img .prev span, .container_slider .slide_img .next span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.container_slider .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
    right: 20%;
}

.container_slider .slide_img .next span {
    border-color: transparent transparent transparent #fff;
    left: 20%;
}

.container_slider #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

.container_slider #nav_slide .dots {
    top: 40px;
    width: 18px;
    height: 18px;
    margin: 0 3px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
    cursor: pointer;
    z-index: 1;
}

.container_slider #nav_slide #dot1:hover {
    background: darkorange;
}

.container_slider #nav_slide #dot2:hover {
    background: darkorange;
}

.container_slider #nav_slide #dot3:hover {
    background: darkorange;
}

.container_slider #nav_slide #dot4:hover {
    background: darkorange;
}

#i1, #i2, #i3, #i4 {
    z-index: 1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
    z-index: 5;
    /* animation: scroll 1s ease-in-out; */
}

#i1:checked ~ #nav_slide #dot1 {
    background: darkorange;
}

#i2:checked ~ #nav_slide #dot2 {
    background: darkorange;
}

#i3:checked ~ #nav_slide #dot3 {
    background: darkorange;
}

#i4:checked ~ #nav_slide #dot4 {
    background: darkorange;
}

.radio::after {
    display: table;
    content: "";
    clear: both;
}
.radio {
    width: 100%;
    padding: 5px 0;
    display: flex;
}
.notBeObject{
    display:none;
}
.BeObject {
    display: inline-block;
}
.radio div {
    /*float: left;*/
    position: relative;
    /*background: darkorange;*/
    color: #000;
    font-weight:bold;
    height: 100%;
    flex-grow: 1;
    /*width:100%;*/
}
.radio .BeObject{
    padding: 3px;
    margin: 3px;
}
.radio div span {
    display: flex;
    width: 100px;
    height: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid darkorange;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    padding: 3px;
}

.radio div input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 0;
    list-style: none;
    cursor: pointer;
}

.radio div input:hover + span {
    /* background: rgba(0, 0, 0, .1);*/
}

.radio div input:checked + span {
    background: #2d1700;
    color: #fff;
}

.radio div input:checked {
    cursor: default;
}

.radio div:first-child {
    margin-left: 0;
}

.radio div:last-child {
}
/* Слайдер финиш */